src/cppwss
*.o
/*.tar.gz

.DS_Store

.deps
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/autoscan.log
/configure.scan
/configure
/config.h*
/config.log
/config.status
/depcomp
/install-sh
/missing
/stamp-h1

