src/cppwss
test/cppwss_test
*.o
/*.tar.gz

.DS_Store

.deps
Makefile
Makefile.in

build-aux/config.h*
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/stamp-h1

/aclocal.m4
/autom4te.cache/
/autoscan.log
/configure.scan
/configure
/config.log
/config.status

